footer{
  padding-top: 20px;
  background: #1D1D1F;
  width: 100%;
  margin-top: 120px;
}

.footer_data{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}


.footer_data div{
  width: 80%;
  margin: 0 auto 20px;
}




.footer_data ul{
  padding: 0;
  margin: 0;
}

.footer_data li{
  list-style: none;
  margin-top: 15px;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
}

.footer_data h6{
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.footer_address li{
  position: relative;;
  padding-left: 20px;
}

.footer_address li:first-child::before{
  content: "";
  position: absolute;
  background: url("../../../assets/images/footerImages/ic-point.png") 50% 50%/cover no-repeat;
  width: 18px;
  height: 18px;
  top: 4%;
  left: 0;
}


.time:before{
  content: "";
  position: absolute;
  background: url("../../../assets/images/footerImages/ic-clock.png") 50% 50%/cover no-repeat;
  width: 15px;
  height: 15px;
  top: 5%;
  left: 0;
}

.footer_contacts li:last-child {
  position: relative;
  padding-left: 20px;
}
.footer_contacts li::before{
  content: "";
  position: absolute;
  background: url("../../../assets/images/footerImages/ic-whatsApp.png") 50% 50%/cover no-repeat;
  width: 15px;
  height: 15px;
  top: 5%;
  left: 0;
}

.footer_date{
  margin: 0;
  padding: 38px 0 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 500px) {
  .footer_data h6{
    font-size: 16px;
  }

  .footer_data li{
    font-size: 14px;
  }
}

@media screen and (min-width: 600px) {
  .footer_data {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer_data div{
    align-content: center;
    width: 40%;
  }

  .footer_data div:first-child{
    width: 91%;
  }
}


@media screen and (min-width: 768px) {
  .footer_data div{
    width: 25%;
  }

  .footer_data div:first-child{
    width: 40%;
  }
}

