.viewMore {
  background: url("../../../assets/images/mainPagePictures/main-pic.jpg") 0 18% /cover no-repeat;
  display: flex;
  align-items: center;
  margin: 0;
  height: 35vh;
}


.view {
  height: 100%;
  width: 100%;
  background-color: rgba(29, 29, 31, 0.8);
  background-size: cover;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  color: #fff;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.mainTitleButton {
  width: 100%;
  margin: 10% auto 0 0;
}

.etapsWork {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  width: 48%;
  height: 140px;
  background: #FEFEFE;
  box-shadow: 0 4px 27px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: #1D1D1F;
  margin: 5px 0 0;
}

.itemText {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-top: auto;
}

.aboutBlock {
  padding: 8% 4% 0;
  margin: 0 auto;
  background: #FEFEFE;
  box-shadow: 0 4px 27px 5px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}

.mainText {
  color: #1D1D1F;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
}

.mainWords {
  font-weight: 600;
}

.imageBlock {
  width: 80%;
  height: 40%;
}

.control {
  padding: 15px 31px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 130px;
  background: #FEFEFE;
  box-shadow: 0 4px 27px 5px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}
.control .controlInput{
  width: 95%;
  color: #9D9D9E;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0 auto;

}

.control .controlButton {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  height: 41%;
  width: 45%;
  border-radius: 10px;
  background: #4D77E3;
  outline: none;
  border: none;
  color: #fff;
  margin: 8px auto 0;
}


@media screen and (min-width: 540px) {
  .viewMore{
    height: 55vh;
  }
  .title {
    text-align: left;
    line-height: 44px;
    width: 50%;
    margin:0 auto 0 0;
    font-size: 30px;
  }
  .aboutBlock{
    display: flex;
    padding: 3% 2% 0;
    flex-wrap: wrap;
  }
  .mainText {
    line-height: 37px;
    width: 60%;
    font-size: 18px;
  }

  .mainTitleButton {
    margin: 10% 45% 0 0;
  }

  .imageBlock{
    width: 37%;
  }

  .item{
    height: 180px;
    width: 31%;
  }

  .itemText{
    font-size: 18px;
  }

}


@media screen and (min-width: 700px) {
  .mainTitleButton {
    margin: 10% auto 0 0;
  }
  .title {
    line-height: 64px;
    font-size: 48px;
  }

  .viewMore {
    height: 75vh;
  }


  .mainText{
    width: 60%;
  }
  .imageBlock {
    width: 37%;
  }
  .control {
    margin: auto 0;
    padding: 35px 20px;
    height: 230px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .control .controlButton {
    font-size: 18px;
    height: 36%;
    width: 35%;
    margin: 0 0 0 10px;
  }
}

@media screen and (min-width: 1000px) {
  .item{
    width: 18%;
  }
  .etapsWork {
    margin: 0 auto;
    flex-wrap: nowrap;
  }
  .control{
    padding: 25px 190px;
  }

  .control .controlButton {
    width: 25%;
  }
}


@media screen and (min-width: 1100px) {
  .control{
    padding: 35px  261px;
  }
}


