.mainTitle{
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-align: center;
  margin: 30px auto;
}

@media screen and (min-width: 500px) {
  .mainTitle{
    font-size: 24px;
    line-height: 34px;
    margin: 55px auto;
  }
}

@media screen and (min-width: 750px) {
  .mainTitle{
    font-size: 36px;
    line-height: 44px;
    margin: 100px auto;
  }
}

.mainTitle span{
  color: #828282;
}