*,
*::after,
*::before {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  background: #FBFBFB;
}

.container {
  max-width: 1250px;
  padding: 0 10px;
  margin: 0 auto;
}

/* in optimization we have to change */
a.active {
  color: #FFFFFF;
}